p {
    font-size: 20px;
    font-weight: 700;
}

div {
    height: 100px;
    width: 200px;
    color: #f33;
}

.red {
    border: 5px solid #f33;
    padding: 40px 50px 30px 60px; 
}

.gray {
    border: 5px solid blue;
    margin: 30px 40px 50px 60px;
}